{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Contato</h1>
        {% bootstrap_messages %}

        <form action="{% url 'contato' %}" method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
                {% bootstrap_button button_type="submit" content="Enviar Mensagem" button_class="btn btn-primary" %}
            </div>
        </form>
    </div>

    {% bootstrap_javascript %}
</body>
</html>
